.button {
  border-radius: 0.8rem;
  border: 2px solid var(--clr-accent);
  text-align: center;
  padding: 1rem 1.5rem;
  text-transform: capitalize;
  background: var(--clr-btn);
  font-weight: 600;
}
