.mediaContainer {
  /* background: white; */
  border-radius: 2rem;
  /* padding: 1%; */
  min-height: 70vh;
}

section {
  padding: 0 2%;
}
.mediaContainer img,
.mediaContainer video {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
