.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  border: 2px solid white;
  border-radius: 2rem;
  padding: 10% 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(5px);
  background: transparent;
}
.box p {
  font-size: 2rem;
}
@media only screen and (min-width: 2048px) {
  .box {
    padding: 5% 10%;
  }
  .box img {
    width: 100%;
  }
  .box p {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 4000px) {
  .box {
    padding: 5% 10%;
  }
  .box img {
    width: 100%;
  }
  .box p {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 1180px) {
  .box {
    padding: 4rem 8rem;
  }
}
@media only screen and (max-width: 768px) {
  .box img {
    width: 50%;
  }

  .box p {
    font-size: 1.5rem;
  }
  .box {
    padding: 4rem 4rem;
  }
}
@media only screen and (max-width: 480px) {
  .box p {
    font-size: 1rem;
  }
  .box img {
    width: 50%;
  }
  .box {
    padding: 4rem 2rem;
  }
}
.button {
  border: 2px solid white;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  background: transparent;
  backdrop-filter: blur(5px);
  color: white;
  cursor: pointer;
}
.button:hover {
  border: 2px solid lightblue;
}
